.post__title {
    font-size: 20px;
}
.post__content {
    font-size: 16px;
}
.error__text {
    color: red;
}
.error__input {
    border-color: red !important;
}
.margin-left {
    margin-left: 10px;
}